[submodule "base-node"]
	path = base-node
	url = https://github.com/bitclave/base-node.git
	
[submodule "base-matcher"]
	path = base-matcher
	url = https://github.com/bitclave/base-matcher.git
	
[submodule "base-rt-search"]
	path = base-rt-search
	url = git@github.com:bitclave/base-rt-search.git

[submodule "base-auth-frontend"]
	path = base-auth-frontend
	url = git@github.com:bitclave/base-auth-frontend.git

[submodule "base-auth-sdk"]
	path = base-auth-sdk
	url = https://github.com/bitclave/base-auth-sdk.git

[submodule "shepherd-backend"]
	path = shepherd-backend
	url = git@github.com:bitclave/shepherd-backend.git

[submodule "shepherd"]
	path = shepherd
	url = git@github.com:bitclave/shepherd.git
